@font-face {
    font-family: 'yujin_bubblesregular';
    src: url('yujin_bubbles-webfont.woff2') format('woff2'),
         url('yujin_bubbles-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
  margin:0px;
  padding:0px;
}

#octocat {
  display: block;
  width:384px;
  margin: 50px auto;
}

p {
  display: block;
  width: 400px;
  margin: 50px auto;
  font-family: 'yujin_bubblesregular';
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
